<a href="https://colab.research.google.com/github/jubascunanc/Back-End/blob/main/Clase_2_Listas_y_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
[24, 12, "Hola mi dato", 14, 18]

[24, 12, 'Hola mi dato', 14, 18]

In [3]:
type ([25, 30, 45, "mi lista "])

list

In [4]:
print(list)

<class 'list'>

In [10]:
cadena ='esta es una cadena de prueba'
print(cadena)

esta es una cadena de prueba

In [13]:
lista = [5+ 5+ 10+ 7]
print(lista)

[27]

In [18]:
lista = [5,5,10]
lista_concatenada = lista + [cadena, 5510]
print(lista_concatenada)

[5, 5, 10, 'esta es una cadena de prueba', 5510]

In [24]:
lista1 = ("esta es mi primera lista", [5,10,15,20])
print(lista1)

('esta es mi primera lista', [5, 10, 15, 20])

In [27]:
lista = [1,2,3,4]
print(lista)
lista= []
print(lista)

[1, 2, 3, 4]
[]

In [28]:
lista = [1,3,5,6]
lista.append("otro valor")
print(lista)

[1, 3, 5, 6, 'otro valor']

In [30]:
lista = [5,6,7,8,9]
lista.pop()
print(lista)

[5, 6, 7, 8]

In [33]:
lista = [1,3,5,6,7,8,9,10,11]
lista.count
print(lista)
print(lista.count(6))

[1, 3, 5, 6, 7, 8, 9, 10, 11]
1

In [39]:
tuplas_heterogeneas = [1,2,3,4,5,6]
tupla = 2,4,6,8
print(tuplas_heterogeneas)
lista = ["esta es una lista"]
print(lista)
print(type(lista))
print(type(tupla))

[1, 2, 3, 4, 5, 6]
['esta es una lista']
<class 'list'>
<class 'tuple'>

In [46]:
tupla = ()
tupla = tuple()
print(tuple('ricardo'))

('r', 'i', 'c', 'a', 'r', 'd', 'o')

In [54]:
primer_tupla = (5,20,30)
tupla = ("esto, es ,una ,tupla"), ("otra ,tupla")
tupla[-2]
print(tupla)
print(primer_tupla[-2])

('esto, es ,una ,tupla', 'otra ,tupla')
20